*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
/* scrollable with js */
.active_nav{
    background-color: #6e57e0;
    transition: 200ms ease-in-out background-color;
}
.active_nav .navbar-brand, .active_nav .nav-link{
color: white;
}


header{
    position: fixed;
    width: 100%;
}
.navbar-brand{
    font-weight: 600;
    font-size: 28px;
    
}

header{
    padding-left: 100px;
    padding-right: 100px;
}
.nav-link{
    letter-spacing: 2px;
    color: black;
    padding: 10px 20px;
    
}



/* banner  */
.banner{
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
}
.banner h1{
    font-size: 3rem;
    font-weight: bold;
}
.banner h4{
    font-size: 1.5rem;
    color: #99989d;
    text-align: left;
    margin-top: 1.8rem;
}
.banner p{
    font-size: 1rem;
    color: #99989d;
    margin-top: 1.8rem;
}
.banner-btn{
    background-color: #6e57e0;
    outline: none;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    margin-top: 1.8rem;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
}
.banner img{
    width: 400px;
    height: 500px;
}
.icon{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    font-size: 1.8rem;
    color: #6e57e0;
    font-weight: 400;
}

/* banner button */
.mouse-btn {
    margin: 10px auto;
    width: 40px;
    height: 80px;
    border: 3px solid rgb(110, 87, 224);
    border-radius: 20px;
    display: flex;
  }
  
  .mouse-scroll {
    display: block;
    width: 20px;
    height: 20px;
    background: linear-gradient(170deg, rgba(110, 87, 224, 0.918), rgb(123, 124, 124));
    border-radius: 50%;
    margin: auto;
    animation: scrolling13 1s linear infinite;
  }
  
  @keyframes scrolling13 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(20px);
    }
  }
  .container_mouse h6{
    text-align: center;
    color: #99989d;

  }
/* banner  buuton end */






/* about  */
.about{
    margin-top: 4rem;
}
.trans-about h2, .trans-skills h2{
    font-size: 5rem;
    font-weight: 800;
    opacity: 0.1;
    color: #99989d;
}
.about h3, .skills h3 {
    text-align: center;
    margin-top: -2.3rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.8;
}
.about h4, .skills h4{
    text-align: center;
    color: #99989d;
}
.about img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
.progarea {
    margin-top: 15.2rem;
    position: relative;
}
.progress {
    position: relative;
    width: 100%;
    height: 2.2rem;
    background-color: #99989d;
    margin-top: 1.7rem;
    border-radius: 2rem;
}
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.progress .bar span {
    position: absolute;
    top: 0;
    left: 2rem;
    color: #fff;
    font-size: 1.4rem;
}
.about form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.download-btn{
    background-color: #6e57e0;
    outline: none;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    margin-top: 1.8rem;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}
.progress-bar{
    background-color: #6e57e0;
}
/* about end */












/* Skills */
.skills{
    margin-top: 4rem;
    height: 100vh;
}
.skills-heading{
    font-size: 1.6rem;
}
.skills-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skills-row h6{
text-align: center;
}
.skills-row{
    margin-top: 4rem;
}
.circle-wrap {
   
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  /* color animation */
  
  /* 3rd progress bar */
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
  }
  
  .mask.full,
  .circle .fill  {
    animation: fill ease-in-out 3s;
    transform: rotate(155deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(155deg);
    }
  }
                    /* css */
                    .mask-css.full-css,
  .circle-css .fill-css  {
    animation: fill-css ease-in-out 3s;
    transform: rotate(135deg);
  }
  
  @keyframes fill-css{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
                /* bootstrap */
    .mask-bs.full-bs,
  .circle-bs .fill-bs  {
    animation: fill-bs ease-in-out 3s;
    transform: rotate(125deg);
  }
  
  @keyframes fill-bs{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(125deg);
    }
  }
            /* javascript */
            .mask-js.full-js,
  .circle-js .fill-js  {
    animation: fill-js ease-in-out 3s;
    transform: rotate(115deg);
  }
  
  @keyframes fill-js{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(115deg);
    }
  }


        /* firebase */
  .mask-firebase.full-firebase,
  .circle-firebase .fill-firebase  {
    animation: fill-firebase ease-in-out 3s;
    transform: rotate(110deg);
  }
  
  @keyframes fill-firebase{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(110deg);
    }
  }
/* Skills end */








@media only screen and (max-width: 600px) {
    /* header */
    header{
        padding-left: 0px;
        padding-right: 0px;
        position: static;
        margin-bottom: 30px;
    }
    .nav-link{
        text-align: center;
        
    }
    /* banner */
    .banner{
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .banner h1{
        font-size: 1.5rem;
    }
    .social-links{
        display: none;
    }
    .banner-btn{
        font-size: 0.8rem;
    padding: 0.5rem 1rem;
    }
    .osama-img{
        display: none;
    }
    .container_mouse{
        display: none;
    }
}


@media only screen and (max-width: 900px) {
    /* header */
    header{
        padding-left: 0px;
        padding-right: 0px;
        position: static;
    }
    .nav-link{
        text-align: center;
        
    }
    /* banner */
    .banner{
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}